.container {
    display: grid;
    grid-template-areas:
    "header header"
    "navbar navbar"
    "aside content"
    "footer footer";

    gap: 0.25%;
    grid-template-columns: 20% 80%;
    background-color: #ec89d1;

    header {
        grid-area: header;
    }
    nav {
        grid-area: navbar;
    }
    aside {
        grid-area: aside;  
    }
    section {
        grid-area: content;
    }
    footer {
        grid-area: footer;
    }
}

.show_grid {
    background-color: #e96363;
    padding: 10px;
}
